<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Validation</title>
    <link rel="stylesheet" href="/public/style/registration.css">
</head>
<body>
    <header>
        <h3 >Set Your Password !</h3>
      </header>
      <div class="main-div">
        <div class="registration-div">
    <p>Set your password using this Link <a href="/setPassword">click here</a></p>
    </div>
    </div>

</body>
</html>