<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>setPassword</title>
    <link rel="stylesheet" href="/public/style/registration.css">

</head>
<body>
    <header>
        <h3 >Set Your Password !</h3>
      </header>
      <div class="main-div">
        <div class="registration-div">
    <form action="/loginPage" method="post" id="form">
        <label for="password">Password:</label>
        <br>
        <input type="password" name="password" id="password">
        <br>
        <label for="retypePassword">Retype Password:</label>
        <br>
        <input type="password" name="retypePassword" id="retypePassword">
        <br>
        <input type="submit" id="btn" value="Submit">
    </form>
    </div>
    </div>
    <script>
        const click = document.getElementById("btn");
        click.onclick = async(e)=>{
            e.preventDefault();
            const password = document.getElementById('password').value;
            const retypePassword = document.getElementById('retypePassword').value;
            const token = localStorage.getItem("emailToken");
            const id =  localStorage.getItem("id");
            if(password != retypePassword){
                await alert('Both password are different !');
                document.getElementById("form").reset();
                return false;
            }
            if(!token){
                await alert('your session has been expired!');
                localStorage.replace('/');
                return false;
            }
            const response = await fetch('/registrationPassword',{
                method:"post",
                headers:{"Content-Type": "application/json",Authorization:token},
                body:JSON.stringify({password:password,id:id})
            })
            const result = await response.json();
            if(result.success){
                await alert(result.message);
                localStorage.removeItem("id");
                localStorage.removeItem("emailToken");
                // document.getElementById("form").submit();
                location.reload();
                location.replace('/loginPage')
            }
            else{
                await alert(result.message);
                document.getElementById("form").reset();
            }
            
        }

        async function validateEmailToken(){
            const token = localStorage.getItem("emailToken");

            const response = await fetch('/validateEmailToken',{
                method:"post",
                headers:{Authorization:token}
            })
            const result = await response.json();
            if(!result.success){
                await alert(result.message);
                await location.replace('/');
            }
        }

        validateEmailToken();
    </script>
</body>
</html>